/*About me*/
#about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
}

#about-me>div>header {
    margin: 1em;
}

#about-me>div>article p {
    margin: 13px 15px;
}

@media (max-width: 900px){
    #about-me {
        width: 80%;
    }
}