#education {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 75%;
    scroll-margin-top: 10vh;
}

#education-timeline {
    display: flex;
    flex-direction: column;
}

#education-timeline>li * {
    margin: 3px;
}

#education-timeline>li {
    list-style: none;
    margin: 20px 0;
    border-width: 0 2px;
    border: solid var(--light-color-primary);
    border-width: 0 0 0 2px;
    padding: 0 20px;
    text-align: left;
}

#education-timeline>li>h3 {
    color: var(--light-color-primary);
    margin: 4px -10px;
}

#education-timeline>li>p {
    line-height: 1.3;
}

@media (max-width: 900px){
    #education {
        max-width: 80%;
    }
}