:root {
    --color-primary: rgb(215, 215, 215);
    --color-primary-lighter: white;
    --color-secondary: rgb(14, 14, 14);
    --color-secondary-darker: black;
    --bgdark: #262626;
    --bglight: #D9D9D9;
    --font-family-1: "Pixelify Sans", sans-serif: 
}

html {
    scroll-behavior: smooth;
}

#container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--bgdark);
    color: var(--color-primary);
    text-align: center;
}

#main-nav {
    z-index: 1;
}

#my-name {
    font-size: 54px;
}

.links {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.one-link {
    padding: 5px;
    font-size: 30px;
    color: var(--color-primary);
    text-decoration: none;
}

.one-link:hover {
    padding: 4px;
    font-size: 32px;
    color: var(--color-primary-lighter);
    text-shadow: 0 0 3px var(--color-primary-lighter);
}

/* Container sections */

.section-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 36px;
}

.section-header > h1 {
    padding: 30px;
}

/* Me Section */
#container-me {
    background-color: var(--bglight);
    color: var(--color-secondary);
    height: 100vh;
}
#me-description {
    display: flex;
}
.me-text {
    font-size: 24px;
    text-align: center;
}

#me-description-hist {
    justify-self: flex-end;
}

/* Container Projects */
#container-projects {
    background-color: var(--bgdark);
    color: var(--color-primary);
    height: 100vh;
}

/* Container Line */
#container-line {
    background-color: var(--bglight);
    color: var(--color-secondary);
    height: 100vh;
}

/* Container Contact */
#container-contact {
    background-color: var(--bgdark);
    color: var(--color-primary);
    height: 100vh;
}
