/* Section - Container Certificates */

#container-certificates {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#content-certificates {
    width: 97%;
    justify-self: center;
    border: var(--border-primary);
    height: 95vh;
    overflow-y: auto;    
    box-shadow: 0 0 30px 3px var(--bgdark);
    background: linear-gradient(to top, var(--bgdark), #1111148c);

}

#certificates-body {
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

#certificates-body>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.certificates-container-img {
    height: 250px;
    width: 300px;
    border: var(--border-primary);
    border-radius: 10px;
    transition: filter 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.certificates-container-img:hover {
    height: 245px;
    width: 295px;
    filter: brightness(0.8);
    box-shadow: 0 0 15px 1px var(--color-secondary);
    cursor: pointer;
}

.certificates-container-img img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

#modal-certificates {
    z-index: 2;
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-certificates-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#certificates-carousel img{
    justify-self: center;
    width: 95%;
    max-width: 900px;
    height: auto;
    max-height: 80vh;
    box-shadow: 0 0 15px 1px var(--color-secondary);
}

#certificates-carousel {
    width: 900px;
    max-width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cert-car-item {
    max-width: 85vw;
    margin-bottom: 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scale: 0;
    opacity: 0;
    transition: all 0.3s ease;
    position: absolute;
}

.cert-car-item.active {
    scale: 1;
    opacity: 1;
}

@media (max-width: 1075px) {
    .certificates-container-img {
        height: 150px;
        width: 200px;
    }
    .certificates-container-img:hover {
        height: 145px;
        width: 195px;
    }
}

@media (max-width: 725px) {
    #certificates-body {
        grid-template-columns: 50% 50%;
        gap: 10px;
    }

    .certificates-container-img {
        height: 100px;
        width: 150px;
    }    
    .certificates-container-img:hover {
        height: 95px;
        width: 145px;
    }
}
