html * {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: var(--text-color);
    scrollbar-color: var(--light-color-primary);
    display: flex;
    flex-direction: column;
}

#container {
    background-image: var(--bg-img);
    background-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    background: none;
    border: none;
}

.highlight-text {
    color: var(--light-color-primary);
}

.active {
    color: var(--color-primary) !important;
    border-bottom: 1.5px solid var(--color-primary);
}

/* Header */
#header {
    grid-row: span 1;
    background-color: var(--bg-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    width: 100%;
    z-index: 2;
    padding: 0 20px;
    position: fixed;

}

#minilogo {
    width: 30px;
    height: 35px;
    display: none;
}

#kdHeaderText {
    color: var(--light-text);
    border: none !important;
    transition: all 0.4s ease;
}

#kdHeaderText:hover {
    color: var(--light-color-primary) !important;
}

/* Nav Bar*/
#nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#menu-selection{
    display: none;
    width: 35px;
    height: 30px;
    filter: var(--light-color-primary-filter);
    transition: all 0.4s ease;
    margin: 0 40px;
}

#menu-selection:hover {
    scale: 1.1;
}

#nav-list {
    display: flex;
    align-content: space-evenly;
    align-items: center;
    padding: 0 50px;
}

.nav-button {
    color: var(--light-text);
    padding: 5px;
    font-size: 16px;
    transition: all 0.4s ease;
    margin: 0 10px;
}

.nav-button:hover {
    color: var(--light-color-primary) !important;
    border-bottom: 1.5px solid var(--light-color-primary);
}

/*Common between portfolio sections*/
.section-header-title {
    color: var(--light-text);
    margin-bottom: 10px;
}

.portfolio-section {
    padding: 3em;
    scroll-margin-top: 20vh;
}

.divider {
    width: 80%;
    height: 1px;
    margin: 40px auto;
    background: linear-gradient(to right, transparent, var(--light-color-primary), transparent);
}

/* Presentation */
#presentation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

#presentation>div {
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: center;
}

#rubik-cube {
    width: 70%;
    max-width: 250px;
    max-height: 250px;
    aspect-ratio: 3 / 3.5;
}

#presentation-text {
    max-width: 500px;
    margin: 25px;
}

.tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tags>li {
    font-size: 12px;
    background-color: var(--bglight);
    color: var(--color-primary);
    padding: 2px 3px;
    border-radius: 5px;
    margin: 2px;
    transition: all 0.4s ease;
}

.tags>li:hover {
    color: var(--light-color-primary);
}

@media (max-width: 900px) {
    h1 {
        font-size: 16px;
    }
    h3 {
        font-size: 14px;
    }


    #minilogo {
        display: block;
    }

    #menu-selection {
        display: block;
    }

    #nav-list {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 50px;
        right: 10px;
        background-color: var(--bglight);
        border-radius: 10px;
        padding: 20px 5px;
        height: 200px;
    }

    .nav-button {
        margin: 10px;
        font-size: 18px;
    }

    #presentation>div {
        display: flex;
        align-items: center;
    }

    #rubik-cube {
        display: none;
    }
}