:root {
    --color-primary: rgb(215, 215, 215);
    --color-primary-lighter: white;
    --color-secondary: rgb(14, 14, 14);
    --color-secondary-darker: black;
    --bgdark: #17181b;
    --bglight: #D9D9D9;
    --path-color: #14343d;
    --font-family-1: 'M+ PLUS Rounded 1c', sans-serif: 
}

html {
    scroll-behavior: smooth;
}

#container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--bgdark);
    color: var(--color-primary);
    text-align: center;
    font-family: var(--font-family-1) !important;
    text-decoration-style: dotted;
}

.links {
    display: flex;
    flex-direction: column;
}

.one-link {
    color: var(--color-primary);
    text-decoration: none;
}

.one-link:hover {
    color: var(--color-primary-lighter);
    text-shadow: 0 0 3px var(--color-primary-lighter);
}

body {
    background-color: var(--bgdark);
}

svg {
    position: absolute;
}

#cpu-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

#cpu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(15rem, 25vw, 17rem);
    height: clamp(15rem, 25vw, 17rem);
    background-color: var(--bgdark);
    border: 2px solid var(--path-color);
    border-radius: 20px;
    margin-top: 20%;
    font-size: clamp(1rem, 5vw, 1.8rem);
}

#cpu-inside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 96%;
    height: 96%;
    background-color: var(--bgdark);
    border: 2px solid var(--path-color);
    border-radius: 15px;
    text-align: center;
    color: var(--color-primary);
}